@font-face {
  font-family: 'PC-regular';
  src: url('./fonts/PyeongChang-Regular.ttf');
}

@font-face {
  font-family: 'PC-bold';
  src: url('./fonts/PyeongChang-Bold.ttf');
}

@font-face {
  font-family: 'PCP-light';
  src: url('./fonts/PyeongChangPeace-Light.ttf');
}

@font-face {
  font-family: 'PCP-bold';
  src: url('./fonts/PyeongChangPeace-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  background-color: #6f6f6f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mobile-container {
  /* background-color: white; */
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  height: 100dvh;
  position: relative;
  /* overflow-y: hidden; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 430px) {
  .app-wrapper {
    background-color: transparent;
  }

  .mobile-container {
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
}

body {
  font-family: 'PC-regular';
  width: 100%;
  height: 100%;
}

.safearea {
  margin-top: 40px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rbga(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  min-width: 350px;
  max-width: 350px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-color: black;

}

.modal-content-secondary {
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-color: black;
}

/* .background {
  /* width: 100%;
  max-width: 390px;
  min-height: 100vh;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
*/

.box {
  min-width: 340px;
  max-width: 340px;
  border-color: #6f6f6f;
  border-width: 1px;
  background-color: white;
  border-style: solid;
  border-radius: 25px;
  padding: 25px 23px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title {
  font-family: 'PCP-bold';
  font-size: 25px;
}

.player-depart {
  font-family: 'PC-regular';
  font-size: 15px;
  color: black;
}

.divider {
  color: #d0d0d0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 16px;
}

.sub-explain {
  font-size: 11px;
  color: #919191;
}

.input-right {
  font-size: 15px;
  font-family: 'PC-regular';
  color: #6f6f6f;
  border-radius: 13px;
  max-width: 147px;
  border-width: 1px;
  border-color: #6f6f6f;
  padding: 7px 14px;
}

.input-full {
  font-size: 15px;
  font-family: 'PC-regular';
  color: #6f6f6f;
  border-radius: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: #6f6f6f;
  padding: 7px 14px;
}

select {
  font-size: 15px;
  font-family: 'PC-regular';
  color: #6f6f6f;
  border-radius: 13px;
  width: 100%;
  border-width: 1px;
  border-color: #6f6f6f;
  padding: 7px 14px;
  margin-top: 8px;
}

.myrank-name {
  font-size: 15px;
  color: #242424;
}

.myrank-rank {
  font-size: 44px;
  color: black;
  font-family: 'PCP-bold';
}

.btn-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.rummi-btn {
  /* 💡 CSS 파일 안에서는 값에 따옴표("")를 절대 붙이지 않습니다! */
  position: fixed;
  bottom: 55px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  /* 💡 버튼 안에 이미지가 예쁘게 꽉 차도록 크기 조절 (원하는 크기로 px를 조절해보세요) */
  width: 38px; 
  height:67px;
  
  z-index: 9999;
  padding-right: 0;
  
  /* 💡 대문자 URL ➡️ 소문자 url로 교정하고 배경 설정 확장 */
  background-image: url('./assets/rummi.png');
  background-size: contain;     /* 이미지가 잘리지 않고 버튼 안에 쏙 들어오게 */
  background-position: center;   /* 이미지 가운데 정렬 */
  background-repeat: no-repeat;  /* 이미지 바둑판 정렬 방지 */
  
  /* 💡 버튼 고유의 회색 배경과 테두리를 투명하게 깎아내는 마법의 코드 */
  background-color: transparent; 
  border: none;
  cursor: pointer;               /* 마우스 올렸을 때 손가락 모양 바꾸기 */
}


.btn-lg {
  background-color: #ECE0FF;
  min-width: 167px;
  max-width: 167px;
  border-color: transparent;
  color: black;
  font-family: 'PCP-light';
  font-size: 16px;
  padding: 7px 0;
  border-radius: 30px;
}

.btn-home {
  background-color: white;
  border: 1px solid #ECE0FF;
  box-shadow: 0px 2px 7px 2px #F1E0FF;
  min-width: 167px;
  max-width: 167px;
  border-color: transparent;
  color: black;
  font-family: 'PCP-light';
  font-size: 16px;
  padding: 7px 0;
  border-radius: 30px;
}

.btn-sm {
  /* background-color: #d9d9d9; */
  min-width: 94px;
  color: black;
  border-color: transparent;
  font-family: 'PCP-light';
  font-size: 12px;
  padding: 1px 6px;
  border-radius: 20px;
}

.btn-cheer {
  /* background-color: #d9d9d9; */
  /* min-width:94px; */
  color: black;
  border-color: transparent;
  background: none;
  border-color: transparent;
  text-decoration: underline;
  font-family: 'PCP-light';
  font-size: 12px;
  padding: 0;
  /* border-radius: 20px; */
}

.btn-green {
  background-color: #C0F7C1;
}

.btn-purple {
  background-color: #ECE0FF;
}

.tab-btn {
  flex: 1;
  padding: 2px;
  text-align: center;
  border: none;
  color: #242424;
  font-size: 13px;
  background-color: white;
  border-style: solid;
  border-color: #242424;
  border-width: 0.4px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: 'PC-regular';
}

.tab-btn.active {
  background-color: #C0F7C1;
  border-bottom: 0.4px solid #242424;
  border-right: transparent;
  padding: 2px;
  text-align: center;
  color: #242424;
  font-size: 13px;
  text-align: center;
  font-family: 'PC-regular';
}

.tab-btn.active-apple {
  background-color: #FF6F6F;
  border-bottom: 0.4px solid #242424;
  border-right: transparent;
  padding: 2px;
  text-align: center;
  color: #242424;
  font-size: 13px;
  text-align: center;
  font-family: 'PC-regular';
}

.tab-btn.active-eyes {
  background-color: #FFC6F4;
  border-bottom: 0.4px solid #242424;
  padding: 2px;
  text-align: center;
  color: #242424;
  font-size: 13px;
  text-align: center;
  font-family: 'PC-regular';
}

.table-wrapper {
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
}

.ranking-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.ranking-table th,
.ranking-table td {
  text-align: center;
  vertical-align: middle;
  padding: 3px 0;
}

.ranking-table th {
  font-size: 16px;
  font-family: 'PC-bold';
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;

}

.ranking-table td {
  font-size: 14px;
  color: #000;
}

/* .ranking-table {
  display: flex;
  flex-direction: column;
}

.ranking-table thead,
.ranking-table tbody tr {
  display: table;
  width: 100%;
  padding: 3px 0;
  table-layout: fixed;
}

.ranking-table tbody {
  display: block;
  max-height: 150px;
  overflow-y: auto;
} */

.logout-wrapper button {
  border-style: none;
  background-color: transparent;
  font-family: 'PC-regular';
  font-size: 12px;
  margin-top: 10px;
  color: #868686;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
#root {
  width: 100%;
  display: flex;
  justify-content: center;
} */